@model IEnumerable<Projet_Vente.Models.Category>

<h2>Category List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a asp-action="DetailsCategory" asp-route-id="@category.Id"  class="btn btn-primary">Details</a>
                    <a asp-action="EditCategory" asp-route-id="@category.Id" class="btn btn-warning">Edit</a>
               

                    <a asp-action="DeleteCategory" class="btn btn-danger" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="CreateCategory" class="btn btn-success">Create New</a>
